

<h1>Sign Up</h1>

<form action="/insert_user_record">

<label for="newuse">Username</label>
<input id="newuse" type="text" placeholder="Enter a username..." name="input_username">

<label for="newpass">Password</label>
<input id="newpass" type="password" placeholder="Enter your password..." name="input_password">

<label for="checkpass">Password</label>
<input id="checkpass" type="password" placeholder="Confirm your password..." name="check_pass">
<button>Sign up!</button>



</form>
