<h1>Sign In</h1>

<form action="/verify_credentials" method = "post">
<label for="use">Username</label>
<input id= "use" type="text" placeholder="Enter your username..." name="username">


<label for="pass">Password</label>
<input id= "pass" type="password" placeholder="Enter your password..." name="password">
<button>Sign in!</button>

</form>
